*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: sans-serif, Arial, Helvetica;
}   

.App{
    min-height: 900px;
    background: #f5f5f5;
}
 
.mn{
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    padding-top: 100px ;
}