.cart{
    padding:20px;
}
.cart-title{
    font-size:36px;
    color:#333333;
    margin-bottom:24px;
}
.cart-empty{
    color:#666666;
    text-align: center;
    font-size:18px;
    padding:60px 0 20px 0;
}
.cart-shop{
    display:block;
    padding:12px 24px;
    background: #667eea;
    color:white;
    margin: 0 auto;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor:pointer;
}

.cart-shop:hover{
    background:#5568d3;
}

.cart-item{
    padding:20px;
    margin-bottom: 30px;
    border-radius:12px;
    background:white;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
}

.cart-card{
    gap:20px;
    display:flex;
    padding:20px;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
}

.cart-card:last-child{
    border-bottom:none;
}

.cart-img{
    object-fit: cover;
    width:80px;
    height:80px;
    border-radius: 8px;
}

.cart-detail{
    flex:1;
}

.cart-name{
    color:#333333;
    margin-bottom:4px;
    font-size:18px;
}

.cart-price{
    font-size:16px;
    color:#666666;
}
.cart-qty{
    align-items: center;
    gap:12px;
    display:flex;
}

.cart-qtybtn{
    width:32px;
    color:#667eea;
    background: white;
    height:32px;
    cursor:pointer;
    border-radius:6px;
    border:2px solid #667eea;
    font-size:18px;
    font-weight:700;
}

.cart-qtybtn:hover{
    background: #667eea;
    color:white;
}

.cart-display{
    min-width: 30px;
    font-size:16px;
    text-align:center;
    font-weight:600;
}

.cart-total{
    color:#667eea;
    font-size: 20px;
    font-weight: 700;
    text-align:right;
    max-width:100px;
}
.cart-remove{
    background:#ff4475;
    color:white;
    border:none;
    padding:8px 16px;
    cursor:pointer;
    border-radius: 6px;
}
.cart-remove:hover{
    background:#ee3645;
}

.cart-summary{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:30px;
    background: white;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
    border-radius:12px;

}
.cart-summary h3{
    font-size:28px;
    color:#333333;
}

.cart-checkout{
    color:white;
    background:#667eea;
    border-radius:8px;
    cursor:pointer;
    padding:14px 32px;
}

.card-checkout:hover{
    background:#5568d3;
}